/managedproperties-consumer/target/
/managedproperties-feature/target/
/managedproperties-service/target/
/managedproperties-service - Copy/target/
/managedproperties-itest/target/
/managedproperties-itest - Copy/target/
/managedproperties-test-resources/target/